@import "../node_modules/bootstrap/scss/bootstrap";

body{
    background-color: $teal-200;
}
footer{
    background-color: $green-900;
}

.nav-item:hover{
    text-decoration: underline;
}

.frog-profile{
    height: 200px;
}

.shop-profile{
    height: 300px;
}